{% extends '::Instant.html.twig' %}

{%  block appheader %}
  		<meta charset="UTF-8" />
        <title>Instant</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block appcss%}
    	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />      
        {% block css %}{% endblock css %}
    {% endblock appcss %}
    {% block appscriptheader %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
  				integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  				crossorigin="anonymous" type="text/javascript"></script>
        {% block scriptheader %}{% endblock scriptheader %}
    {% endblock appscriptheader %}
{%  endblock appheader %}
{% block appbody %}
    {% block applogo %}
		<div id="page">
            <div id="header">
          	    <div id="logo">
            		<img src="{{ asset('images/logo.png') }}" alt="SMTR"/>
            	</div>  <!--  logo -->
          </div> <!-- header -->  
    {% endblock applogo %}
    {% block appmenu %}
    <div id="menu">
	 			<ul>
		      			
		    			<li id="user_menu"><a href="#">{{ "menu.user"|trans}}</a></li>
		    			
		    			<li id="exploitation-menu"><a href="#">{{"menu.exploitation"| trans}}</a></li>
		    			
		    			<li id="statistics-menu"><a href="#">{{ "menu.statistics" | trans}}</a></li>
		    			
		    			<li id="analyse-menu"><a href="#">{{ "menu.analyse" | trans}}</a></li>
						
		    			<li id="schedule-menu"><a href="#">{{ "menu.schedule" | trans}}</a></li>
						
		    			<li id="event-menu"><a href="#">{{ "menu.event" | trans}}</a></li>
						
		    			<li id="content-menu"><a href="#">{{ "menu.content" | trans}}</a></li>						
						
						<li id="export-menu"><a href="#">{{ "menu.export" | trans }}</a>
		 			</ul> 			
   </div>
		 			
        {% block menu %}{% endblock menu %}
    {% endblock appmenu %}
    {% block appslideshow %}
        {% block slideshow %}{% endblock slideshow %}
    {% endblock appslideshow %}
    {% block appcontent %}
 	       {% block content %}{% endblock content%}
    {% endblock appcontent%}
    {% block appfooter %}
        {% block footer %}{% endblock footer %}
    {% endblock appfooter %}
    {% block appscript%}
        {% block script%}{% endblock script%}
    {% endblock appscript %}
{% endblock appbody %}